@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  color: #19191a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: Lora, sans-serif;
}
h1 {
  font-size: 55px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
  font-family: Cabin, sans-serif;
  color: #6b6b6b;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}
img {
  max-width: 100%;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}
ul,
ol {
  padding: 0;
  margin: 0;
}

/*--------------------------------------Header section */
.menu-item {
  position: relative;
}
.logo {
  padding: 25px 0;
}
.nav-menu {
  text-align: right;
}
.mainmenu {
  display: inline-block;
}
.mainmenu li {
  list-style: none;
  display: inline-block;
  position: relative;
}

.mainmenu h1 {
  font-size: 80px;
}
.mainmenu li.active a:after {
  opacity: 1;
}
.mainmenu li:hover > a:after {
  opacity: 1;
}

.mainmenu li a {
  font-size: 20px;
  color: #19191a;
  margin-right: 42px;
  font-weight: 500;
  padding: 27px 0;
  position: relative;
}

.mainmenu li a:after {
  position: absolute;
  left: 0;
  top: 52px;
  width: 100%;
  height: 2px;
  background: #dfa974;
  content: "";
  opacity: 0;
}

/*--------------------------------------Modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*--------------------------------------Slider hero*/
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #ffffff;
}
.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

/* Slideshow container */
.food-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
}
.food-section .container {
  position: relative;
  z-index: 5;
}

.booking-form {
  background: #ffffff;
  padding: 44px 40px 50px 40px;
  border-radius: 4px;
}
.booking-form h3 {
  color: #19191a;
  margin-bottom: 36px;
}
.booking-form form .check-date {
  position: relative;
  margin-bottom: 15px;
}
.booking-form form .check-date label {
  font-size: 14px;
  color: #707079;
  display: block;
  margin-bottom: 10px;
}
.booking-form form .check-date input {
  width: 100%;
  height: 50px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  font-size: 16px;
  color: #19191a;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 20px;
}
.booking-form form .check-date i {
  color: #dfa974;
  position: absolute;
  right: 18px;
  bottom: 17px;
}
.booking-form form .select-option {
  margin-bottom: 15px;
}
.booking-form form .select-option label {
  font-size: 14px;
  color: #707079;
  display: block;
  margin-bottom: 10px;
}
.booking-form form .select-option .nice-select {
  border-radius: 2px;
  border: 1px solid #ebebeb;
  height: 50px;
  line-height: 50px;
  outline: none;
  padding-left: 20px;
  width: 100%;
  float: none;
}
.booking-form form .select-option .nice-select:after {
  border-bottom: 2px solid #dfa974;
  border-right: 2px solid #dfa974;
  height: 10px;
  margin-top: 0;
  right: 20px;
  width: 10px;
  top: 36%;
}
.booking-form form .select-option .nice-select span {
  font-size: 16px;
  color: #19191a;
  text-transform: uppercase;
  font-weight: 500;
}
.booking-form form .select-option .nice-select .list {
  margin-top: 0;
  width: 100%;
}
.booking-form form button {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #dfa974;
  border-radius: 2px;
  color: #dfa974;
  font-weight: 500;
  background: transparent;
  width: 100%;
  height: 46px;
  margin-top: 30px;
}

/* lai uz bildes var uzlikt ko virsu*/
.food-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/*lai podzinas apaksa darbotos*/
.food-slider.owl-carousel .owl-dots {
  position: absolute;
  left: 0;
  bottom: 23px;
  width: 100%;
  text-align: center;
}
.food-slider.owl-carousel .owl-dots button {
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: 0.5;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.food-slider.owl-carousel .owl-dots button.active {
  width: 30px;
  border-radius: 50px;
  opacity: 1;
}
.food-slider.owl-carousel .owl-dots button:last-child {
  margin-right: 0;
}
.food-slider .owl-stage-outer,
.food-slider .owl-stage,
.food-slider .owl-item,
.food-slider .hs-item {
  height: 100%;
}

/*--------------------------------------Food section*/
.food-items {
  overflow: hidden;
}

.food-item {
  height: 500px;
  position: relative;
  overflow: hidden;
}
.food-menu {
  padding: 20px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.food-item:hover .food-text {
  bottom: 100px;
  margin-bottom: 30px;
}

.food-menu:hover .food-text {
  bottom: 100px;
  margin-bottom: 30px;
}

.food-text {
  position: absolute;
  left: 45px;
  right: 25px;
  bottom: -350px;
  transition: all 0.5s;
}
.food-text h3 {
  color: #ffffff;
  margin-bottom: 15px;
}
.food-text h2 {
  color: #dfa974;
  font-weight: 700;
  margin-bottom: 50px;
  transition: all 0.2s;
}
.food-text p {
  color: #dfa974;
  font-weight: 500;
  transition: all 0.2s;
}

/*--------------------------------------Order button*/

.btn-order {
  background-color: white;
  color: black;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-size: 55px;
  font-family: Lora, sans-serif;
}

.btn-order:hover {
  background-color: white;
  color: black;
  border: none;
}

/*--------------------------------------Review section*/
.section-title {
  text-align: center;
  margin-bottom: 22px;
}
.section-title h2 {
  font-size: 38px;
  color: #19191a;
  line-height: 58px;
  margin-top: 10px;
}
.review-section {
  background: #f9f9f9;
  padding-top: 70px;
  padding-bottom: 50px;
}

.review-slider.owl-carousel .owl-item img {
  width: auto;
  margin: 0 auto;
}
.review-slider.owl-carousel .owl-nav button {
  height: 44px;
  width: 44px;
  border: 1px solid #ebebeb;
  font-size: 24px;
  color: #707079;
  background: #ffffff;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  left: -190px;
  top: 50%;
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.review-slider.owl-carousel .owl-nav button:hover {
  border-color: #19191a;
  color: #19191a;
}
.review-slider.owl-carousel .owl-nav button.owl-next {
  left: auto;
  right: -190px;
}
.review-slider .ts-item {
  text-align: center;
}
.review-slider .ts-item p {
  font-size: 20px;
  color: #707079;
  line-height: 30px;
  margin-bottom: 50px;
}

.review-slider .ts-item .ti-author {
  margin-bottom: 60px;
}
.review-slider .ts-item .ti-author h5 {
  font-size: 20px;
  color: #19191a;
  display: inline-block;
}

/* Footer section */

.footer-section {
  background: #222736;
}
.footer-text {
  padding: 80px 0 30px;
}

.footer-text p,
.ft-newsletter p {
  color: #aaaab3;
  margin-bottom: 20px;
}
.fa-social a {
  display: inline-block;
  width: 40px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background: #dfa974;
  border-color: #dfa974;
}

.ft-contact {
  margin-bottom: 30px;
}
.ft-contact h6,
.ft-newsletter h6 {
  font-size: 14px;
  color: #dfa974;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: Cabin, sans-serif;
  margin-bottom: 20px;
}

.ft-contact ul li {
  font-size: 16px;
  color: #aaaab3;
  line-height: 32px;
  list-style: none;
}

.fn-form {
  position: relative;
}

.fn-form input {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background: #393d4a;
  border: none;
  padding-left: 20px;
  font-size: 16px;
  color: #707079;
}
.fn-form button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  background: #dfa974;
  color: #ffffff;
  padding: 0 16px;
  height: 50px;
  border: none;
  border-radius: 0 2px 2px 0;
}

/*--------------------------------------Food Menu section*/
.price {
  float: right;
}
.food-menu-section {
  padding-top: 70px;
  padding-bottom: 80px;
}
.food-menu-text {
  text-align: center;
}
.food-menu-text h2 {
  font-size: 38px;
  color: #19191a;
  margin-bottom: 12px;
}

.food-section {
  height: 600px;
  padding-top: 0;
  padding-bottom: 80px;
}
.order-section {
  padding-top: 0;
  padding-bottom: 80px;
}
.checkout-section {
  height: 600px;
  padding-top: 0;
  padding-bottom: 80px;
}

.descr {
  height: 70px;
  background-size: cover;
  position: relative;
  margin-top: 5px;
  border-radius: 12px;
}

.descr p {
  color: #aaaab3;
  background: #222736;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  height: 30px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
}

small {
  opacity: 0;
}

.show-description p {
  height: 150px;
}

.show-description small {
  opacity: 1;
}

/*--------------------------------------Checkout form*/
.row-checkout {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: -16px;
}

.row-checkout h3 {
  padding-bottom: 30px;
}

.container-checkout {
  width: 50%;
  background-color: #ffffff;
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
}

.checkout-form {
  margin-bottom: 40px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn-checkout {
  background-color: #dfa974;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 50%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.btn-order {
  background-color: #9a6c3f;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 50%;
  border-radius: 17px;
  cursor: pointer;
}

.center {
  text-align: center;
}
span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/*--------------------------------------Contact form*/
.contact-section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.contact-text h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.contact-text p {
  color: #707079;
}
.contact-text table tbody tr td {
  font-size: 16px;
  line-height: 40px;
  font-weight: 500;
}
.contact-text table tbody tr td.c-o {
  color: #707079;
  width: 75px;
}

#contact-form textarea {
  width: 100%;
  border: 1px solid #e1e1e1;
  padding-left: 10px;
  padding-top: 12px;
}

#contact-form button {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  background: #dfa974;
  border: none;
  padding: 14px 34px 13px;
  display: inline-block;
}

div#map {
  min-height: 360px;
  -webkit-box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.15);
  margin-top: 75px;
}
.modal {
  z-index: 1051 !important;
}
