@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  color: #19191a;
}

h1,
h2,
h3,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: Lora, sans-serif;
}
h1 {
  font-size: 55px;
}
h3 {
  font-size: 30px;
}
h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
  font-family: Cabin, sans-serif;
  color: #6b6b6b;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}
ul,
ol {
  padding: 0;
  margin: 0;
}

/*--------------------------------------Header section */
.menu-item {
  position: relative;
}
.logo {
  padding: 25px 0;
}
.nav-menu {
  text-align: right;
}
.mainmenu {
  display: inline-block;
}
.mainmenu li {
  list-style: none;
  display: inline-block;
  position: relative;
}

.mainmenu h1 {
  font-size: 80px;
}
.mainmenu li.active a:after {
  opacity: 1;
}
.mainmenu li:hover > a:after {
  opacity: 1;
}

.mainmenu li a {
  font-size: 20px;
  color: #19191a;
  margin-right: 42px;
  font-weight: 500;
  padding: 27px 0;
  position: relative;
}

.mainmenu li a:after {
  position: absolute;
  left: 0;
  top: 52px;
  width: 100%;
  height: 2px;
  background: #dfa974;
  content: "";
  opacity: 0;
}
