@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  color: #19191a;
}
h1,
h2,
h3,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: Lora, sans-serif;
}
h1 {
  font-size: 55px;
}
h3 {
  font-size: 30px;
}
h5 {
  font-size: 18px;
}
p {
  font-size: 16px;
  font-family: Cabin, sans-serif;
  color: #6b6b6b;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}

/*--------------------------------------Header section */
.pointer {
  cursor: pointer;
}
.menu-item {
  position: relative;
  z-index: 9;
}
.menu-item .logo {
  padding: 25px 0;
}
.menu-item .logo a {
  display: inline-block;
}
.menu-item .nav-menu {
  text-align: right;
}
.menu-item .nav-menu .mainmenu {
  display: inline-block;
}
.menu-item .nav-menu .mainmenu li {
  list-style: none;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.menu-item .nav-menu .mainmenu h1 {
  font-size: 80px;
}
.menu-item .nav-menu .mainmenu li.active a:after {
  opacity: 1;
}
.menu-item .nav-menu .mainmenu li:hover > a:after {
  opacity: 1;
}
.menu-item .nav-menu .mainmenu li a {
  font-size: 16px;
  color: #19191a;
  margin-right: 42px;
  font-weight: 500;
  display: inline-block;
  padding: 27px 0;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-item .nav-menu .mainmenu li a:after {
  position: absolute;
  left: 0;
  top: 52px;
  width: 100%;
  height: 2px;
  background: #dfa974;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-item .nav-menu .mainmenu li:hover .dropdown {
  top: 77px;
  opacity: 1;
  visibility: visible;
}
.menu-item .nav-menu .mainmenu li .dropdown {
  position: absolute;
  left: 0;
  top: 97px;
  width: 180px;
  background: #ffffff;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
  box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
}
.menu-item .nav-menu .mainmenu li .dropdown li {
  list-style: none;
  display: block;
}
.menu-item .nav-menu .mainmenu li .dropdown li a {
  font-size: 16px;
  color: #19191a;
  display: block;
  text-align: left;
  padding: 8px 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-item .nav-menu .mainmenu li .dropdown li a:hover {
  color: #dfa974;
}
.menu-item .nav-menu .mainmenu li .dropdown li a:after {
  display: none;
}
.menu-item .nav-menu .nav-right {
  display: inline-block;
  margin-left: 43px;
  padding: 27px 0px;
}
.menu-item .nav-menu .nav-right i {
  font-size: 16px;
  color: #19191a;
  cursor: pointer;
}
.canvas-open {
  display: none;
}
.offcanvas-menu-wrapper {
  display: none;
}

/*--------------------------------------Loader on page load css */
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #ffffff;
}
.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

/*--------------------------------------Food section*/
.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.food-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
}
.food-section-height {
  height: 600px;
}
.food-section .container {
  position: relative;
  z-index: 5;
}
.food-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.food-slider.owl-carousel .owl-dots {
  position: absolute;
  left: 0;
  bottom: 23px;
  width: 100%;
  text-align: center;
}
.owl-carousel .owl-dots button {
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: 0.5;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.owl-carousel .owl-dots button.active {
  width: 30px;
  border-radius: 50px;
  opacity: 1;
}
.owl-carousel .owl-dots button:last-child {
  margin-right: 0;
}
.food-slider .owl-stage-outer,
.food-slider .owl-stage,
.food-slider .owl-item,
.food-slider .hs-item {
  height: 100%;
}
.food-items {
  overflow: hidden;
}
.food-item {
  height: 500px;
  margin-right: -15px;
  position: relative;
  overflow: hidden;
}
.food-menu {
  padding: 20px;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.food-item:hover .food-text {
  bottom: 100px;
  margin-bottom: 30px;
}
.food-menu:hover .food-text {
  bottom: 100px;
  margin-bottom: 30px;
}
.food-text {
  position: absolute;
  left: 45px;
  right: 25px;
  bottom: -350px;
  transition: all 0.5s;
}
.food-text h3 {
  color: #ffffff;
  margin-bottom: 15px;
}
.food-text h2 {
  color: #dfa974;
  font-weight: 700;
  margin-bottom: 50px;
  transition: all 0.2s;
}
.food-text p {
  color: #ffffff;
  font-weight: 500;
  transition: all 0.2s;
}

/*--------------------------------------Buttons*/
.btn-checkout {
  background-color: #dfa974;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 60%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.btn-order {
  background-color: #9a6c3f;
  color: white;
  font-size: 55px;
  font-family: Lora, sans-serif;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 50%;
  border-radius: 17px;
  cursor: pointer;
}
.btn-order:hover {
  background-color: white;
  color: black;
  border: none;
}
.center {
  text-align: center;
}

/*--------------------------------------Review section*/
.section-title {
  text-align: center;
  margin-bottom: 22px;
}
.section-title h2 {
  font-size: 38px;
  color: #19191a;
  line-height: 58px;
  margin-top: 10px;
}
.review-section {
  background: #f9f9f9;
  padding-top: 70px;
  padding-bottom: 50px;
}
.review-slider .ts-item {
  text-align: center;
}
.review-slider .ts-item p {
  font-size: 20px;
  color: #707079;
  line-height: 30px;
  margin-bottom: 50px;
}
.review-slider .ts-item .ti-author {
  margin-bottom: 60px;
}
.review-slider .ts-item .ti-author h5 {
  font-size: 20px;
  color: #19191a;
  display: inline-block;
}

/*--------------------------------------Footer section*/

.footer-section {
  background: #222736;
}
.footer-text {
  padding: 80px 0 30px;
}
.footer-text p,
.ft-newsletter p {
  color: #aaaab3;
  margin-bottom: 20px;
}
.fa-social a {
  display: inline-block;
  width: 40px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background: #dfa974;
  border-color: #dfa974;
}
.ft-contact {
  margin-bottom: 30px;
}
.ft-contact h6,
.ft-newsletter h6 {
  font-size: 14px;
  color: #dfa974;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: Cabin, sans-serif;
  margin-bottom: 20px;
}
.ft-contact ul li {
  font-size: 16px;
  color: #aaaab3;
  line-height: 32px;
  list-style: none;
}
.fn-form {
  position: relative;
}
.fn-form input {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background: #393d4a;
  border: none;
  padding-left: 20px;
  font-size: 16px;
  color: #707079;
}
.fn-form button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  background: #dfa974;
  color: #ffffff;
  padding: 0 16px;
  height: 50px;
  border: none;
  border-radius: 0 2px 2px 0;
}

/*--------------------------------------Order menu section*/
.food-menu-section {
  padding-top: 70px;
  padding-bottom: 80px;
}
.food-menu-text {
  text-align: center;
}
.food-menu-text h2 {
  font-size: 38px;
  color: #19191a;
  margin-bottom: 12px;
}
.food-section {
  padding-top: 0;
  padding-bottom: 80px;
}
.order-section {
  padding-top: 0;
  padding-bottom: 80px;
}
.checkout-section {
  height: 600px;
  padding-top: 0;
  padding-bottom: 80px;
}
span.price {
  float: right;
  color: grey;
}
.m-16 {
  margin: -16px;
}
.pb-30 {
  padding-bottom: 30px;
}
.checkout-form {
  margin-bottom: 40px;
}
input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.modal {
  z-index: 1051 !important;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*--------------------------------------Contact section*/
.contact-section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.contact-text h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.contact-text p {
  color: #707079;
}
.contact-text table tbody tr td {
  font-size: 16px;
  line-height: 40px;
  font-weight: 500;
}
.contact-text table tbody tr td.c-o {
  color: #707079;
  width: 75px;
}
#contact-form textarea {
  width: 100%;
  border: 1px solid #e1e1e1;
  padding-left: 10px;
  padding-top: 12px;
}
#contact-form button {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  background: #dfa974;
  border: none;
  padding: 14px 34px 13px;
  display: inline-block;
}
div#map {
  min-height: 360px;
  -webkit-box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.15);
  margin-top: 75px;
}

/*--------------------------------------Responsive media styles*/
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 1554px) and (max-width: 1920px) {
  .food-items .food-item .food-text {
    bottom: -200px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1250px) {
  .food-items .food-item .food-text {
    bottom: -288px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .food-items .food-item .food-text {
    bottom: -322px;
  }
  .food-items .food-item:hover .food-text {
    bottom: 80px;
  }
}
@media only screen and (max-width: 991px) {
  .menu-item .nav-menu {
    display: none;
  }
  .offcanvas-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 98;
    height: 100%;
    width: 100%;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .offcanvas-menu-overlay.active {
    visibility: visible;
  }
  .canvas-open {
    position: absolute;
    right: 40px;
    top: 25px;
    font-size: 22px;
    width: 30px;
    height: 30px;
    color: #19191a;
    border: 1px solid #19191a;
    border-radius: 2px;
    line-height: 33px;
    text-align: center;
    z-index: 100;
    display: block;
    cursor: pointer;
  }
  .offcanvas-menu-wrapper {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    z-index: 999;
    background: #ffffff;
    text-align: center;
    overflow-y: auto;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding: 80px 30px 30px 30px;
    display: block;
  }
  .offcanvas-menu-wrapper .canvas-close {
    height: 30px;
    width: 30px;
    border: 1px solid #19191a;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    padding-right: 1px;
  }
  .offcanvas-menu-wrapper .header-configure-area .bk-btn {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 16px 28px 15px;
    background: #dfa974;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .offcanvas-menu-wrapper .mainmenu {
    display: none;
  }
  .offcanvas-menu-wrapper .slicknav_menu {
    background: transparent;
    padding: 0;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_btn {
    float: none;
    margin: 0 0 10px 0;
    display: none;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav {
    display: block !important;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul {
    margin: 0;
    text-align: left;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul li .dropdown {
    padding-left: 20px;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul li a {
    margin: 0;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #19191a;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul li a:hover {
    border-radius: 0;
    background: transparent;
    color: #dfa974;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav .slicknav_row a {
    border-bottom: 0;
    padding-left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav .slicknav_row span {
    color: #19191a;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav .slicknav_row:hover a {
    color: #dfa974;
  }
  .offcanvas-menu-wrapper
    .slicknav_menu
    .slicknav_nav
    .slicknav_row:hover
    span {
    color: #dfa974;
  }
  .offcanvas-menu-wrapper .top-social {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .offcanvas-menu-wrapper .top-social a {
    display: inline-block;
    font-size: 16px;
    color: #19191a;
    margin-right: 20px;
  }
  .offcanvas-menu-wrapper .top-social a:last-child {
    margin-right: 0;
  }
  .offcanvas-menu-wrapper .top-widget li {
    list-style: none;
    font-size: 16px;
    color: #19191a;
    font-weight: 500;
    line-height: 28px;
  }
  .offcanvas-menu-wrapper .top-widget li i {
    color: #dfa974;
    margin-right: 4px;
  }
  .offcanvas-menu-wrapper.show-offcanvas-menu-wrapper {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
  .contact-form {
    padding-top: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .food-items {
    margin: 0;
  }
  .food-item {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .review-slider.owl-carousel .owl-nav {
    display: none;
  }
  .footer-section ul li {
    margin-right: 25px;
  }
  .food-items {
    margin: 0 -5px;
  }
  .food-item {
    margin-bottom: 10px;
  }
}
