@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Dokdo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgba(0, 0, 0, 0.76);
  /*font-family: Dokdo, sans-serif;*/
}

@media (min-width: 630px) {
  body {
    padding: 75px;
  }
}

/*--------------------------------------Header */
.menu-item {
  position: relative;
  z-index: 9;
}

.menu-item .logo {
  padding: 25px 0;
  font-family: Dokdo, sans-serif;
}

/* why this is orange*/

.menu-item .logo a {
  display: inline-block;
}
.menu-item .nav-menu {
  text-align: right;
}
.menu-item .nav-menu .mainmenu {
  display: inline-block;
}
.menu-item .nav-menu .mainmenu li {
  list-style: none;
  display: inline-block;
  position: relative;
  z-index: 1;
}
